.wrapping{
    margin:0 auto;
    box-sizing: border-box;  /* */
}
.part1{
    display: flex;
    flex-direction: row;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
.div1{
    background-color: rgb(16, 25, 44);
    height: 500px;
    width: 70px;
}
.div2{
    background-color: rgb(26, 35, 54);
    height: 500px;
    width: 200px;
}
.div2 img{
    height: 300px;
    position: relative;
    top: 120px;
}
.column1{
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 25, 44);
    height: 500px;
    width: 400px;
}
.div3{
    position: relative;
    top: 170px;
    left: 50px;
}
.part2{
    display: flex;
    flex-direction: row;
    font-family: 'Quicksand', sans-serif;
    color: rgb(26, 35, 54);
}
.div21{
    background-color: rgb(255, 255, 255);
    width: 70px;
}
.div22{
    background-color: rgb(224, 221, 223);
    width: 200px;
}
.div23{
    background-color:rgb(255, 255, 255);
    width: 400px;
}